<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



				<%= link_to home_an_path, 
            data: { controller: 'bs-modal-form', action: 'click->bs-modal-form#showModal' }, 
            class: 'btn btn-success' do %>
  <i class="bi bi-plus"></i> Go Home
<% end %>

